*{  
    
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}
#footer{
    width: 100vw;
    justify-items: center;
    display: grid;
    margin: 40px auto;
    
}
.footer-container{
    width: 80%;
    max-width: 75%;
    display: grid;
    grid-template-columns:  1fr 1fr;
    
    
}
.menu-izquierda-anidado{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-right: solid 1px rgb(202, 202, 202);
}
.submenu-izquierda{
    a{  
        text-decoration: none;
        display: block;
        color: black;
        font-size: 13px;
        margin: 10px;
    }
}
.container-img-RS{
    
    display: grid;
    grid-template-columns: repeat(4 , 45px);
    justify-content: end;
        
}
.logo-redes{
    width: 30px;
    height: 30px;
}
.Informacion{

    p{  
        margin-top: 10px;
        font-size: 13px;
        padding-left: 10px;
    }
}
#subsidiarias{
    display: grid;
    margin: 20px auto;
    width: 100vw;
}
.grid-subsidiarias{
    height: 55px;
    min-width: 70vw;
    margin: 0px auto;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    justify-items: center;
    

}
.subsidiarias{
    padding-bottom: 10px;
    width: 120px;
    height: 48px;   
}
.subsidiarias:hover{
    width: 140px;
    height: 55px;
}

@media only screen and (max-width: 870px){

    .grid-subsidiarias{
        display: grid;
        min-width: 70vw;
        margin: 150px auto;
        grid-template-columns:1fr 1fr;
        justify-items: center;
        
    
    }
    .subsidiarias{
        padding-bottom: 20px;
        margin: 15px;
        width: 180px;
        height: 55px;   
    }
    .footer-container{
        width: 100vw;
        margin: 10px auto;
        max-width: 75%;
        display: grid;
        grid-template-columns:  1fr ;
        
        
    }
    .menu-izquierda-anidado{
        border-right: none;
        text-align: center;
        display: grid;
        gap: 2px;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
        
    }
    .submenu-izquierda{
        a{  
            
            color: black;
            font-size: 20px;
            margin: 10px;
        }
    }
    .container-img-RS{
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(4 , 45px);
        justify-content: space-evenly;
            
    }
    .logo-redes{
        width: 60px;
        height: 60px;
        
    }
   
    
}
@media only screen and (max-width: 767px){

    .grid-subsidiarias{
        display: grid;
        height: 300px;       
        min-width: 70vw;
        margin: 150px auto;
        grid-template-columns:1fr ;
        justify-items: center;
    }
}