*{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}
#footer{
    width: 100vw;
    justify-items: center;
    display: grid;
    margin: 40px auto;
    
}
.footer-container{
    width: 80%;
    max-width: 75%;
    display: grid;
    grid-template-columns:  1fr 1fr;
    
    
}
.menu-izquierda-anidado{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-right: solid 1px rgb(202, 202, 202);
}
.submenu-izquierda{
    a{  
        display: block;
        color: black;
        font-size: 13px;
        margin: 10px;
    }
}
.container-img-RS{
    
    display: grid;
    grid-template-columns: repeat(4 , 45px);
    justify-content: end;
        
}
.logo-redes{
    width: 30px;
    height: 30px;
}
.Informacion{

    p{  
        margin-top: 10px;
        font-size: 13px;
        padding-left: 10px;
    }
}
#subsidiarias{
    display: grid;
    margin: 20px auto;
    width: 100vw;
}
.grid-subsidiarias{
    height: 55px;
    min-width: 70vw;
    margin: 0px auto;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    justify-items: center;
    

}
.subsidiarias{
    padding-bottom: 10px;
    width: 120px;
    height: 48px;   
}
.subsidiarias:hover{
    width: 140px;
    height: 55px;
}