
#header{
    display: grid;
    justify-items: center;
    width: 100vw;
}
.header-container{
    margin: 10px;
    gap: 10px;
    align-items: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imag-logo{
    object-fit: cover;
}
.menu-superior{
    align-items: center;
    border-bottom: 1px solid rgb(212, 210, 210);
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;

    .menu-S{
       
        
        a{color: black;
            display: block;
            padding: 5px;
        }
    }

}
.menu-inferior{
    
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 0.8rem;
    align-items: center;
    padding: 1rem 0rem;
    margin-top: 100px;
    background-color: #1c3583;
    
}
.menu-I{
    a{
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    background-color: #CAD43B;
    color: #1c3583;
    }
}
.menu-I-S{
    a{  
        background-color: #dceefc;
        color: #1c3583;
        padding: 10px;
        text-align: center;
        border-radius: 4px;
    }
}
    