
#section-index{
    justify-items: center;
    display: grid;
    grid-template-columns: auto;
    margin: 20px auto;
    
}

.section-container{
    width: 80%;
    

    .info{
        justify-items: center;
        margin: 2% 0px;
        display: grid;
        grid-template-columns: auto;
        
    }   
}

.tarjetas{
    margin-top: 50px;
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    
    div{

        a{  
            margin: 25px;   
            padding: 6px;
            display: block;
            text-align: center;
            font-family: 'Titillium Web', sans-serif;
            font-size: 16px;
            color: black;
            border: solid #CAD43B 2px;
            border-radius: 5px;
        }

    }

}
h3{
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}
h4{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}
.tarjetas{
   div{
        a:hover{
            background-color: rgb(38, 131, 185); 
            color: white;
            transition: 0.4s;  
        }
    }

}
