*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
#header-banca-en-linea{
    width: 100vw;
    background: rgb(72,102,183);
    background: linear-gradient(90deg, rgba(72,102,183,1) 18%, rgba(99,137,207,1) 88%);
}
.header-banca-en-linea-container{
    width: 80%;
    padding: 10px;
    max-width: 75%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a{
        img{
            height: 60px;
        }
    }
}
.img-header-banca-en-linea{
    height: 70px;

}
.banca-en-linea-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

}
input{
    
    border-radius: 5px;
    border: none;
    padding: 10px;
    display: block;
    margin: 15px;

}
.input{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background-color:#CCCC;

}
.boton{
    width: 88%;
    background-color: #cad43b;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.background{                  
    img{  
        margin: 4px 0px 0px 0px;
        max-width: 70vw;
        height: 72.5vh;
      
    }
    
}

#footer-banca-en-linea{
    width: 100vw;
    background: rgb(72,102,183);
    background: linear-gradient(90deg, rgba(72,102,183,1) 18%, rgba(99,137,207,1) 88%);
}
.footer-banca-en-linea-container{
    padding: 10px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
        h2{
            color: white;
            font-size: 40px;
            padding: 10px;
            margin-right: 10px;

        }
    }
    ul{
        display: grid;
        justify-items: start;
        grid-template-columns:.7fr 1fr;
        margin-left: 10px;

        li{
            color: white;
            font-size: 19px;
            margin: 5px 11px;
        }
    }
        
}