*{
    margin: 0px;
    padding: 0px;
}
#header-banca-en-linea{
    width: 100vw;
    background: rgb(72,102,183);
    background: linear-gradient(90deg, rgba(72,102,183,1) 18%, rgba(99,137,207,1) 88%);;
}
.header-banca-en-linea-container{
    padding: 10px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a{
        img{
            height: 60px;
        }
    }
}
.img-header-banca-en-linea{
    height: 80px;

}