@use 'header';
@use 'footer';

@media (min-width: 320px) and (max-width: 480px){

    #sostenibilidad-inferior{
        width: 100%;
        

        .sostenibilidad-inferior-container{
            max-width: 70%;
            margin: 0px auto;

            .sostenibilidad-inferior-izquierda{
                background-color: #f6f8fd;
                margin: 40px 0px;
                display: flex;
                flex-direction: column;

                img{
                    object-fit: contain;
                }

                .sost-info{

                    width: 100%;
                   

                    h2{
                        text-align: center;
                        font-size: 20px;
                        padding: 10px 0px;
                        color: #1c3583;
                    }
                    a{
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        color: #1c3583;
                        text-decoration: none; 
                        margin: 15px;   
                        padding: 15px 30px;
                        background-color:  #CAD43B;
                        border-radius: 5px;
                    }

                }

            }
         
        }  
        
        .sostenibilidad-inferior-derecha{

                background-color: #f6f8fd;
                margin: 20px 0px;
                display: flex;
                flex-direction: column;
                img{
                    object-fit: contain;
                }

                .sost-info{

                    width: 100%;
                   

                    h2{
                        text-align: center;
                        font-size: 20px;
                        padding: 10px 0px;
                        color: #1c3583;
                    }
                    a{
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        color: #1c3583;
                        text-decoration: none; 
                        margin: 15px;   
                        padding: 15px 30px;
                        background-color:  #CAD43B;
                        border-radius: 5px;
                    }

            }
        }
    }
    #section-sostenibilidad{
        width: 90%;
        margin: 50px auto;
    
    .sostenibilidad-container{
        width: 80%;
        margin: 0px auto;
        max-width: 80%;     

        .img-sostenibilidad{ 
            display: flex;
            flex-direction: column-reverse;

             .idea{
                background-color: rgba(6, 54, 117);
                color: white;
                
                h3{
                    padding: 25px;
                    font-weight: bold;
                    font-size: 20px;
                }

             }
            img{
                 width: 100%;
                object-fit: contain;
            }        

        
        }

    }
 }

}
@media (min-width: 480px) and (max-width: 680px){
    #sostenibilidad-inferior{
        width: 100%;
                

        .sostenibilidad-inferior-container{
            max-width: 75%;
            margin: 0px auto;

            .sostenibilidad-inferior-izquierda{
                background-color: #f6f8fd;
                margin: 40px 0px;
                display: flex;
                flex-direction: column;

                img{
                    object-fit: contain;
                }

                .sost-info{

                    width: 100%;
                   

                    h2{
                        text-align: center;
                        font-size: 20px;
                        padding: 10px 0px;
                        color: #1c3583;
                    }
                    a{
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        color: #1c3583;
                        text-decoration: none; 
                        margin: 15px;   
                        padding: 15px 30px;
                        background-color:  #CAD43B;
                        border-radius: 5px;
                    }

                }

            }
         
        }  
        
        .sostenibilidad-inferior-derecha{

                background-color: #f6f8fd;
                margin: 20px 0px;
                display: flex;
                flex-direction: column;
                img{
                    object-fit: contain;
                }

                .sost-info{

                    width: 100%;
                   

                    h2{
                        text-align: center;
                        font-size: 20px;
                        padding: 10px 0px;
                        color: #1c3583;
                    }
                    a{
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        color: #1c3583;
                        text-decoration: none; 
                        margin: 15px;   
                        padding: 15px 30px;
                        background-color:  #CAD43B;
                        border-radius: 5px;
                    }

            }
        }
    }
}
@media (min-width: 680px) and (max-width: 870px){

    #sostenibilidad-inferior{
        margin-top: 50px;
        width: 100%;
        
        
        

        .sostenibilidad-inferior-container{

            width: 80%;
            justify-content: center;
            margin: 0px auto;
            display: flex;
            flex-wrap: wrap;
            

            .sostenibilidad-inferior-izquierda{
                width: 80%;
                background-color: #f6f8fd;
                display: grid;
                grid-template-columns: .1fr 1fr;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;

                img{
                    width: auto;
                    height: 250px;
                }

                .sost-info{

                    width: 100%;
                   

                    h2{
                        text-align: center;
                        font-size: 20px;
                        padding: 10px 0px;
                        color: #1c3583;
                    }
                    a{
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        color: #1c3583;
                        text-decoration: none; 
                        margin: 15px;   
                        padding: 15px 30px;
                        background-color:  #CAD43B;
                        border-radius: 5px;
                    }

                }

            }
         
        }  
        
        .sostenibilidad-inferior-derecha{
                width: 80%;
                background-color: #f6f8fd;
                display: grid;
                grid-template-columns: .1fr 1fr;
                justify-content: space-between;
                justify-items: end;
                align-items: center;
                

                img{
                    width: auto;
                    height: 250px;
                    
                }

                .sost-info{

                    width: 100%;
                   

                    h2{
                        text-align: center;
                        font-size: 20px;
                        padding: 10px 0px;
                        color: #1c3583;
                    }
                    a{
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        color: #1c3583;
                        text-decoration: none; 
                        margin: 15px;   
                        padding: 15px 30px;
                        background-color:  #CAD43B;
                        border-radius: 5px;
                    }

            }
        }
    }
    #section-sostenibilidad{
        width: 90%;
        margin: 50px auto;
    
    .sostenibilidad-container{
        width: 80%;
        margin: 0px auto;
        max-width: 80%;     

        .img-sostenibilidad{ 
            display: flex;
            flex-direction: column-reverse;

             .idea{
                background-color: rgba(6, 54, 117);
                color: white;
                
                h3{
                    padding: 25px;
                    font-weight: bold;
                    font-size: 20px;
                }

             }
            img{
                 width: 100%;
                object-fit: contain;
            }        

        
        }

    }
 }

}
@media (min-width: 870px){
    #sostenibilidad-inferior{
        margin-top: 50px;
        width: 100%;
        
        
        
        

        .sostenibilidad-inferior-container{
            width: 80%;
            justify-content: center;
            margin: 0px auto;
            display: flex;
            

            .sostenibilidad-inferior-izquierda{
                min-width: 45%;
                background-color: #f6f8fd;
                display: grid;
                grid-template-columns: auto 1fr;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                

                img{
                    width: auto;
                    height: 250px;
                }

                .sost-info{                 

                    h2{
                        text-align: center;
                        font-size: 20px;
                        padding: 10px 0px;
                        color: #1c3583;
                    }
                    a{
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        color: #1c3583;
                        text-decoration: none; 
                        margin: 15px;   
                        padding: 15px 30px;
                        background-color:  #CAD43B;
                        border-radius: 5px;
                    }

                }

            }
         
        }  
        
        .sostenibilidad-inferior-derecha{
                min-width: 45%;
                background-color: #f6f8fd;
                display: grid;
                grid-template-columns: auto 1fr;
                justify-content: center;
                align-items: center;
                                

                img{
                    width: auto;
                    height: 250px;
                    
                }

                .sost-info{
                    
                
                   

                    h2{
                        text-align: center;
                        font-size: 20px;
                        padding: 5px 0px;
                        color: #1c3583;
                    }
                    a{
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        color: #1c3583;
                        text-decoration: none; 
                        margin: 15px;   
                        padding: 15px 30px;
                        background-color:  #CAD43B;
                        border-radius: 5px;
                    }

            }
        }
    }

    #section-sostenibilidad{
        width: 90%;
        margin: 50px auto;
            
    .sostenibilidad-container{
        width: 80%;
        margin: 0px auto;
        max-width: 80%;
        .img-sostenibilidad{
           
            display: flex;
            justify-content: end;
            position: relative;
            

            img{
                width: 65vw;
                height: 60vh;
                

            }

            .idea{
                top: 100px;
                left: 0px;
                display: flex;
                justify-content: center;
                color: white;
                padding: 2rem ;
                border-top-right-radius: 50px;
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
                position: absolute;
                background-color: rgba(6, 54, 117);
                height: 30vh;
                width: 17vw;
                
                h3{
                    text-align: center;
                    align-self: center;
                    font-size: 20px;
                    
                }
            }
        }

    }
 }

}