* {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

#header {
  width: 100vw;
}

.header-container {
  width: 80%;
  margin: 20px auto;
  min-width: 70%;
  display: grid;
  gap: 5px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.imag-logo {
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-superior {
  align-items: center;
  border-bottom: 1px solid rgb(212, 210, 210);
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
}
.menu-superior .menu-S a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.menu-inferior {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 0.8rem;
  align-items: center;
  margin-top: 15px;
}

.menu-I a {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  background-color: #CAD43B;
  color: #1c3583;
}

.menu-I-S a {
  text-decoration: none;
  background-color: #dceefc;
  color: #1c3583;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

.navbar-dark {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header-container {
    width: 90%;
    margin: 20px auto;
    min-width: 70%;
    display: grid;
    gap: 5px;
    align-items: center;
    grid-template-columns: 1fr;
  }
}
.imag-logo a img {
  text-align: center;
  justify-items: center;
  justify-self: center;
}

@media only screen and (min-width: 768px) {
  .navbar-dark {
    display: none;
  }
}
* {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

#footer {
  width: 100vw;
  justify-items: center;
  display: grid;
  margin: 40px auto;
}

.footer-container {
  width: 80%;
  max-width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-izquierda-anidado {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-right: solid 1px rgb(202, 202, 202);
}

.submenu-izquierda a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 13px;
  margin: 10px;
}

.container-img-RS {
  display: grid;
  grid-template-columns: repeat(4, 45px);
  justify-content: end;
}

.logo-redes {
  width: 30px;
  height: 30px;
}

.Informacion p {
  margin-top: 10px;
  font-size: 13px;
  padding-left: 10px;
}

#subsidiarias {
  display: grid;
  margin: 20px auto;
  width: 100vw;
}

.grid-subsidiarias {
  height: 55px;
  min-width: 70vw;
  margin: 0px auto;
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  justify-items: center;
}

.subsidiarias {
  padding-bottom: 10px;
  width: 120px;
  height: 48px;
}

.subsidiarias:hover {
  width: 140px;
  height: 55px;
}

@media only screen and (max-width: 870px) {
  .grid-subsidiarias {
    display: grid;
    min-width: 70vw;
    margin: 150px auto;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .subsidiarias {
    padding-bottom: 20px;
    margin: 15px;
    width: 180px;
    height: 55px;
  }
  .footer-container {
    width: 100vw;
    margin: 10px auto;
    max-width: 75%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .menu-izquierda-anidado {
    border-right: none;
    text-align: center;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }
  .submenu-izquierda a {
    color: black;
    font-size: 20px;
    margin: 10px;
  }
  .container-img-RS {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 45px);
    justify-content: space-evenly;
  }
  .logo-redes {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .grid-subsidiarias {
    display: grid;
    height: 300px;
    min-width: 70vw;
    margin: 150px auto;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

#section-index {
  width: 100vw;
}

.section-container {
  width: 80%;
  margin: 30px auto 0px auto;
}
.section-container .info {
  justify-items: center;
  margin: 2% 0px;
  display: grid;
}
.section-container .tarjetas {
  margin-top: 50px;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.section-container .tarjetas div a {
  text-decoration: none;
  margin: 25px;
  display: block;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  color: black;
  border: solid #CAD43B 2px;
  border-radius: 5px;
}

h3 {
  padding: 5px;
  font-family: "Titillium Web", sans-serif;
  font-size: 25px;
}

h4 {
  padding: 5px;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
}

.tarjetas div a:hover {
  background-color: rgb(38, 131, 185);
  color: white;
  transition: 0.4s;
}

@media only screen and (max-width: 768px) {
  .section-container {
    width: 80%;
    margin: 10px auto;
    text-align: center;
  }
  .section-container .tarjetas {
    margin-top: 50px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
}/*# sourceMappingURL=styles.css.map */