@use 'header';
@use'footer';
*{
    font-family: 'Open Sans', sans-serif;   
}

#info-transparencia{
    width: 100%;

    .container-info-transparencia{
        width: 80%;
        margin: 0px auto;

        .info-t{
            background-color: #f6f8fd;
            margin: 10px;


            h3{
                padding: 10px;
                font-family: sans-serif;
                color: #1c3583;
                font-size: 16px;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                padding: 10px;
                
            }

        }
    }
}
@media (min-width: 320px) and (max-width: 680px){

    #section-transparencia{
        width: 90%;
        margin: 50px auto;
    
    .transparencia-container{
        width: 80%;
        margin: 0px auto;
        max-width: 80%;
          

        .img-transparencia{ 
            display: flex;
            flex-direction: column-reverse;

             .idea{
                background-color: rgba(6, 54, 117);
                color: white;
                
                h3{
                    padding: 25px;
                    font-weight: bold;
                    font-size: 20px;
                }

             }
            img{
                 width: 100%;
                object-fit: contain;
            }        

        
        }

    }
 }
}
@media (min-width: 680px) and (max-width: 870px){
    #section-transparencia{
        width: 90%;
        margin: 50px auto;
    
    .transparencia-container{
        width: 80%;
        margin: 0px auto;
        max-width: 80%;     

        .img-transparencia{ 
            display: flex;
            flex-direction: column-reverse;

             .idea{
                background-color: rgba(6, 54, 117);
                color: white;
                
                h3{
                    padding: 25px;
                    font-weight: bold;
                    font-size: 20px;
                }

             }
            img{
                 width: 100%;
                object-fit: contain;
            }        

        
        }

    }
 }
}

@media (min-width: 870px){
    #section-transparencia{
        width: 90%;
        margin: 50px auto;
            
    .transparencia-container{
        width: 80%;
        margin: 0px auto;
        max-width: 80%;
        .img-transparencia{
           
            display: flex;
            justify-content: end;
            position: relative;
            

            img{
                width: 65vw;
                height: 60vh;
                

            }

            .idea{
                top: 100px;
                left: 0px;
                display: flex;
                justify-content: center;
                color: white;
                padding: 2rem ;
                border-top-right-radius: 50px;
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
                position: absolute;
                background-color: rgba(6, 54, 117);
                height: 30vh;
                width: 17vw;
                
                h3{
                    text-align: center;
                    align-self: center;
                    font-size: 20px;
                    
                }
            }
        }

    }
 }
}



