@use 'header';
@use'footer';
*{
    font-family: 'Open Sans', sans-serif;
    
}
#section-transparencia{
    width: 100vw;
    
    .transparencia-container{
        width: 80%;
        margin: 0px auto;
        

        .img-transparencia{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .idea{
                display: flex;
                justify-content: center;
                top: 50px;
                left: -60px;
                color: white;
                padding: 2rem ;
                border-top-right-radius: 50px;
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
                position:absolute;
                background-color: rgba(6, 54, 117);
                height: 17.5rem;
                width: 15.5rem;
                
                h3{
                    text-align: center;
                    align-self: center;
                    font-size: 20px;
                    
                }
            }
        }

    }
}



