@use 'header';
@use'footer';
*{
    font-family: 'Open Sans', sans-serif;
    
}
#section-transparencia{
    width: 100vw;
    
    .transparencia-container{
        
        width: 80%;
        max-width: 80%;
        margin: 40px auto;
        
        

        .img-transparencia{
           
            display: flex;
            justify-content: end;
            position: relative;
            

            img{
                width: 65vw;
                height: 60vh;
                

            }

            .idea{
                top: 100px;
                left: 0px;
                display: flex;
                justify-content: center;
                color: white;
                padding: 2rem ;
                border-top-right-radius: 50px;
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
                position: absolute;
                background-color: rgba(6, 54, 117);
                height: 30vh;
                width: 17vw;
                
                h3{
                    text-align: center;
                    align-self: center;
                    font-size: 20px;
                    
                }
            }
        }

    }
}



